<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrencies</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Top 10 Cryptocurrencies by Market Cap</h1>
    </header>

    <main>
        <ol>
            <a href="/1"><li> <%= cryptoResponse.data[0].name %> </li></a>
            <a href="/2"><li> <%= cryptoResponse.data[1].name %> </li></a>
            <a href="/3"><li> <%= cryptoResponse.data[2].name %> </li></a>
            <a href="/4"><li> <%= cryptoResponse.data[3].name %> </li></a>
            <a href="/5"><li> <%= cryptoResponse.data[4].name %> </li></a>
            <a href="/6"><li> <%= cryptoResponse.data[5].name %> </li></a>
            <a href="/7"><li> <%= cryptoResponse.data[6].name %> </li></a>
            <a href="/8"><li> <%= cryptoResponse.data[7].name %> </li></a>
            <a href="/9"><li> <%= cryptoResponse.data[8].name %> </li></a>
            <a href="/10"><li> <%= cryptoResponse.data[9].name %> </li></a>
        </ol>
    </main>
</body>
</html>